# Ignore everything
**

# Allow files and directories
!/app.py
!/init.py
!/config.py
!/functions.py
!/gunicorn_config.py
!/requirements.txt
!/static/**
!/templates/**
!/db_classes.py
!/elasticsearch_/**
!/mongo_/**
!/worker.py
