# Ignore everything
**

# Allow files and directories
!/app.py
!/init.py
!/config.py
!/functions.py
!/gunicorn_config.py
!/requirements.txt
!/static/**
!/templates/**
!/db_classes.py
!/elasticsearch_/**
!/mongo_/**
!/worker.py
*.csv
.DS_Store
__pycache__
test_files/*
tmux_session.sh
gilson_upload_data_method_script_v2.py
mongodb_bkup/*
pyscripts/*
ipynb/*
copy_files.sh
Makefile
README.md

