body {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
}

h4 {
    font-size: 20px;
    margin: 0.25em 0 0.5em 0;
    color: #4a618a;
}

h1 {
    margin: 0;
    padding-bottom: 0.25em;
    margin: 0.25em 0 0.5em 0;
    font-weight: 600;
    font-family: 'Titillium Web', sans-serif;
    position: relative;
    font-size: 60px;
    line-height: 40px;
    color: #355681;
    border-radius: 0 10px 0 10px;
}

/* #warning-msg { */
/*     color: #fc0303 !important; */
/* } */


.data-info-colour {
    color: black !important;
    font-size:20px !important;
}

.visuallyhidden { /*for uvtrace image links*/
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px; width: 1px;
  margin: -1px; padding: 0; border: 0;
}

label {
  cursor: pointer;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th {
  text-align:center;
  vertical-align: middle;
  word-wrap: break-word;
}

td {
  padding: 4px;
  text-align: left;
  font-size: 12px;
  border-bottom: 1px solid #ddd;
  word-wrap: break-word;
}

tr:hover{
  background-color: #319EE0 !important;
  transition: all 0.3s ease;
  webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.blank-container label, #input-form label {
  display:inline;
  font-weight:bold;
  margin-left:15px;
}

input#combine-wrklst-btn, input#submit-btn {
  margin-left:15px;
}

.tbl-colour-grp-1 {
  background-color:#f8f3eb;
}

.tbl-colour-grp-2 {
  background-color:#e0dede;
}


.tbl-hdr-colour, .tbl-hdr-logs {
  color: #f7f7f7;
  background-color:#292b2c;
  border: solid 1px #DDEEEE;
  padding: 10px;
 }

 div#tsl-panel {
  margin-left:15px;
  width:100%;
  }

.tooltip > .tooltip-inner {
    background-color: #f9f7d9;
    color: #355681;
    border: 1px solid #355681;
    padding: 10px;
    font-size: 20;
  }

.tooltip > .tooltip-arrow {
    border-top: 8px solid #355681;
  }
