{% extends 'elasticsearch_/base.html' %}

{% block body %}

<div class="container">

      <div class="row">
      <div class="col-7">
	<form action="/es/filter_proj_id" method="POST">
	  <div class="form-group">
	    <div class="custom-file">
	      <input type="text" name="filter" id="filter">
	      <label for="filter">Filter by Project ID</label>
	    </div>
	  </div>
       </div>
      </div>

      <br>
      <div class="row">

      <div class="col-4">
	<button type="submit">Submit</button>
      </div>

      <div class="col-5" id="flash-msg">
      {% with errors = get_flashed_messages(category_filter=["warning"]) %}
	  {% if errors %}
	      {%- for message in errors %}
		<div>
		  <span id="warning-msg"><strong>{{ message }}</strong></span>
		      <button onclick="close_btn()" type="button" class="close" aria-label="Close">
			  <span aria-hidden="true">&times;</span>
		      </button>
		  </div>
	      {% endfor -%}
	  {% endif %}
      {% endwith %}
      </div>

      </div>
      </form>

    </div>

		    <br>

		<div id="output">
			<table class="table table-hover">
			<thead>
				<tr>
					<th>Finish Time</th>
					<th>Project ID</th>
					<th>Gilson Number</th>
					<th>Method Name</th>
					<th>Sample Name</th>
					<th>Barcode</th>
					<th>Brooks Barcode</th>
					<th>Plate Suffix</th>
					<th>Sample Well</th>
					<th>Plate Location</th>
					<th>TSL File</th>
					<th>UVDATA File</th>
					<th>UV Trace</th>
				</tr>
			</thead>
			<tbody>
			{% for ddict in output %}
			{% set cnt = loop.index %}
			<tr>
				{% for key, value in ddict.items() %}
				{% if key|string() == 'project_id' %}
					<td id="project-id-group-{{ cnt }}">
						{{ value }}
					</td>
				{% elif key|string() == 'sample_well' %}
					<td id="sample-well-group-{{ cnt }}">
						{{ value }}
					</td>
				{% else %}
					<td>
						{{ value }}
					</td>
				{% endif %}
				{% endfor %}
					<td>
					<label for="plot-click-{{loop.index}}">
						<img src="{{url_for('static',
							filename='line_graph_icon.png')}}"
							align="middle" width=50 />
					</label>
					<button id="plot-click-{{loop.index}}"
						     onclick="popup_center(this, '{{host}}', 'es', 1000, 600)" class="visuallyhidden">
					</button>
					</td>
			{% endfor %}

			</tr>
			</tbody>
			</table>
		</div>
	</div>

	<br>

	<div> <span id="note-div"> {{ notes }} </span></div>

{% endblock %}
